{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!-- css link -->
<link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div id="index-page1">
    <nav class="navbar navbar-expand-lg " id="index-header">
        <div class="container-fluid">
          <h1 class="navbar-brand" href="#">Navbar scroll</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
           
             
            </ul>
            <li class="nav-item text-white" id="index-list">
                <a class="nav-link active" aria-current="page" href="login">User Login</a>
              </li>
              <li class="nav-item text-white">
                <a class="nav-link active" aria-current="page" href="#">Councilor Login</a>
              </li>
          </div>
        </div>
      </nav>
   
      <!---------------------------------------------- banner-content-------------------------------- -->
<div id="banner-container">
    <img src="{% static 'banner-image.jpg' %}">
    <section id="banner-content">
    <h1>gshdhd</h1>
    <p>dhsjdhdddddddddd</p>
</section>
</div>
</div>
    
</body>
</html>
